In [74]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.layers import Dropout
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, LeakyReLU
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [75]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [76]:
# Determine the number of unique values in each column.
unique_columns = application_df.nunique()
print(unique_columns)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [77]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
print(application_type_counts)

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [78]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_cutoff = 700
application_types_to_replace = application_type_counts[application_type_counts < application_types_cutoff].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
Other      804
T8         737
T7         725
Name: count, dtype: int64

In [79]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_counts)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [80]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts_gt1 = classification_counts[classification_counts > 1]
print(classification_counts_gt1)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [81]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classification_cutoff = 700
classifications_to_replace = classification_counts[classification_counts < classification_cutoff].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: count, dtype: int64

In [82]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df_encoded = pd.get_dummies(application_df, drop_first=True)
application_df_encoded.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,...,ORGANIZATION_Trust,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,1,108590,1,False,True,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
2,1,5000,0,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,1,6692,1,False,True,False,False,False,False,False,...,True,False,True,False,False,False,False,False,False,False
4,1,142590,1,False,True,False,False,False,False,False,...,True,False,False,True,False,False,False,False,False,False

In [83]:
unique_encoded_columns = application_df_encoded.nunique()
print(unique_encoded_columns)

STATUS                          2
ASK_AMT                      8747
IS_SUCCESSFUL                   2
APPLICATION_TYPE_T19            2
APPLICATION_TYPE_T3             2
APPLICATION_TYPE_T4             2
APPLICATION_TYPE_T5             2
APPLICATION_TYPE_T6             2
APPLICATION_TYPE_T7             2
APPLICATION_TYPE_T8             2
AFFILIATION_Family/Parent       2
AFFILIATION_Independent         2
AFFILIATION_National            2
AFFILIATION_Other               2
AFFILIATION_Regional            2
CLASSIFICATION_C1200            2
CLASSIFICATION_C2000            2
CLASSIFICATION_C2100            2
CLASSIFICATION_C3000            2
CLASSIFICATION_C7000            2
CLASSIFICATION_Other            2
USE_CASE_Heathcare              2
USE_CASE_Other                  2
USE_CASE_Preservation           2
USE_CASE_ProductDev             2
ORGANIZATION_Co-operative       2
ORGANIZATION_Corporation        2
ORGANIZATION_Trust              2
INCOME_AMT_1-9999               2
INCOME_AMT_10000-24999          2
INCOME_AMT_100000-499999        2
INCOME_AMT_10M-50M              2
INCOME_AMT_1M-5M                2
INCOME_AMT_25000-99999          2
INCOME_AMT_50M+                 2
INCOME_AMT_5M-10M               2
SPECIAL_CONSIDERATIONS_Y        2
dtype: int64

In [84]:
# Split our preprocessed data into our features and target arrays
y = application_df_encoded["IS_SUCCESSFUL"].values
X = application_df_encoded.drop("IS_SUCCESSFUL", axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [85]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
print(X_train_scaled.shape)

(25724, 36)

In [86]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# Input layer
nn.add(tf.keras.layers.Input(shape=(36,)))

# First hidden layer
nn.add(tf.keras.layers.Dense(units=100, activation="relu"))

# Second hidden layer with LeakyReLU activation
nn.add(tf.keras.layers.Dense(units=50))
nn.add(tf.keras.layers.LeakyReLU(alpha=0.01))  # Adding LeakyReLU as a separate layer

# Third hidden layer with LeakyReLU activation
nn.add(tf.keras.layers.Dense(units=20))
nn.add(tf.keras.layers.LeakyReLU(alpha=0.01))

# Fourth hidden layer with LeakyReLU activation
nn.add(tf.keras.layers.Dense(units=10))
nn.add(tf.keras.layers.LeakyReLU(alpha=0.01))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

/usr/local/lib/python3.10/dist-packages/keras/src/layers/activations/leaky_relu.py:41: UserWarning: Argument `alpha` is deprecated. Use `negative_slope` instead.
  warnings.warn(

Model: "sequential_6"

 Layer (type)                          Output Shape                         Param #

 dense_30 (Dense)                      (None, 100)                            3,700

 dense_31 (Dense)                      (None, 50)                             5,050

 leaky_re_lu_18 (LeakyReLU)            (None, 50)                                 0

 dense_32 (Dense)                      (None, 20)                             1,020

 leaky_re_lu_19 (LeakyReLU)            (None, 20)                                 0

 dense_33 (Dense)                      (None, 10)                               210

 leaky_re_lu_20 (LeakyReLU)            (None, 10)                                 0

 dense_34 (Dense)                      (None, 1)                                 11

 Total params: 9,991 (39.03 KB)

 Trainable params: 9,991 (39.03 KB)

 Non-trainable params: 0 (0.00 B)

In [87]:
# Compile the model
nn = Sequential([
    Dense(100, activation='relu', input_shape=(X_train_scaled.shape[1],)),
    Dense(50),
    LeakyReLU(alpha=0.01),
    Dense(20),
    LeakyReLU(alpha=0.01),
    Dense(10),
    LeakyReLU(alpha=0.01),
    Dense(1, activation='sigmoid')
])

# Compile the model
nn.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

/usr/local/lib/python3.10/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [90]:
fit_model = nn.fit(X_train_scaled, y_train, epochs=50, batch_size=10)

Epoch 1/50
2573/2573  5s 2ms/step - accuracy: 0.7355 - loss: 0.5435
Epoch 2/50
2573/2573  6s 2ms/step - accuracy: 0.7391 - loss: 0.5404
Epoch 3/50
2573/2573  5s 2ms/step - accuracy: 0.7362 - loss: 0.5392
Epoch 4/50
2573/2573  7s 2ms/step - accuracy: 0.7368 - loss: 0.5400
Epoch 5/50
2573/2573  5s 2ms/step - accuracy: 0.7394 - loss: 0.5416
Epoch 6/50
2573/2573  5s 2ms/step - accuracy: 0.7404 - loss: 0.5379
Epoch 7/50
2573/2573  6s 2ms/step - accuracy: 0.7457 - loss: 0.5328
Epoch 8/50
2573/2573  12s 3ms/step - accuracy: 0.7391 - loss: 0.5384
Epoch 9/50
2573/2573  7s 2ms/step - accuracy: 0.7440 - loss: 0.5350
Epoch 10/50
2573/2573  7s 3ms/step - accuracy: 0.7412 - loss: 0.5323
Epoch 11/50
2573/2573  5s 2ms/step - accuracy: 0.7406 - loss: 0.5378
Epoch 12/50
2573/2573  5s 2ms/step - accuracy: 0.7384 - loss: 0.5383
Epoch 13/50
2573/2573  6s 2ms/step - accuracy: 0.7415 - loss: 0.5319
Epoch 14/50
2573/2573  10s 2ms/step - accuracy: 0.7380 - loss: 0.5411
Epoch 15/50
2573/2573  6s 2ms/step - accuracy: 0.7382 - loss: 0.5369
Epoch 16/50
2573/2573  11s 3ms/step - accuracy: 0.7390 - loss: 0.5358
Epoch 17/50
2573/2573  5s 2ms/step - accuracy: 0.7424 - loss: 0.5348
Epoch 18/50
2573/2573  7s 3ms/step - accuracy: 0.7418 - loss: 0.5329
Epoch 19/50
2573/2573  6s 2ms/step - accuracy: 0.7358 - loss: 0.5402
Epoch 20/50
2573/2573  12s 3ms/step - accuracy: 0.7419 - loss: 0.5331
Epoch 21/50
2573/2573  9s 2ms/step - accuracy: 0.7390 - loss: 0.5377
Epoch 22/50
2573/2573  6s 2ms/step - accuracy: 0.7421 - loss: 0.5353
Epoch 23/50
2573/2573  5s 2ms/step - accuracy: 0.7370 - loss: 0.5388
Epoch 24/50
2573/2573  7s 3ms/step - accuracy: 0.7384 - loss: 0.5334
Epoch 25/50
2573/2573  9s 2ms/step - accuracy: 0.7410 - loss: 0.5329
Epoch 26/50
2573/2573  6s 2ms/step - accuracy: 0.7376 - loss: 0.5364
Epoch 27/50
2573/2573  9s 2ms/step - accuracy: 0.7442 - loss: 0.5306
Epoch 28/50
2573/2573  6s 2ms/step - accuracy: 0.7415 - loss: 0.5348
Epoch 29/50
2573/2573  10s 3ms/step - accuracy: 0.7354 - loss: 0.5414
Epoch 30/50
2573/2573  9s 2ms/step - accuracy: 0.7405 - loss: 0.5380
Epoch 31/50
2573/2573  6s 2ms/step - accuracy: 0.7401 - loss: 0.5356
Epoch 32/50
2573/2573  5s 2ms/step - accuracy: 0.7418 - loss: 0.5326
Epoch 33/50
2573/2573  12s 3ms/step - accuracy: 0.7360 - loss: 0.5406
Epoch 34/50
2573/2573  5s 2ms/step - accuracy: 0.7414 - loss: 0.5312
Epoch 35/50
2573/2573  6s 2ms/step - accuracy: 0.7457 - loss: 0.5304
Epoch 36/50
2573/2573  5s 2ms/step - accuracy: 0.7417 - loss: 0.5313
Epoch 37/50
2573/2573  12s 2ms/step - accuracy: 0.7428 - loss: 0.5308
Epoch 38/50
2573/2573  9s 2ms/step - accuracy: 0.7408 - loss: 0.5329
Epoch 39/50
2573/2573  10s 2ms/step - accuracy: 0.7374 - loss: 0.5380
Epoch 40/50
2573/2573  7s 3ms/step - accuracy: 0.7416 - loss: 0.5300
Epoch 41/50
2573/2573  8s 2ms/step - accuracy: 0.7366 - loss: 0.5362
Epoch 42/50
2573/2573  7s 3ms/step - accuracy: 0.7430 - loss: 0.5319
Epoch 43/50
2573/2573  9s 2ms/step - accuracy: 0.7405 - loss: 0.5363
Epoch 44/50
2573/2573  10s 2ms/step - accuracy: 0.7417 - loss: 0.5308
Epoch 45/50
2573/2573  6s 3ms/step - accuracy: 0.7417 - loss: 0.5332
Epoch 46/50
2573/2573  5s 2ms/step - accuracy: 0.7362 - loss: 0.5364
Epoch 47/50
2573/2573  6s 2ms/step - accuracy: 0.7390 - loss: 0.5335
Epoch 48/50
2573/2573  6s 2ms/step - accuracy: 0.7432 - loss: 0.5320
Epoch 49/50
2573/2573  11s 3ms/step - accuracy: 0.7372 - loss: 0.5375
Epoch 50/50
2573/2573  8s 2ms/step - accuracy: 0.7407 - loss: 0.5315

In [92]:
# Evaluate the model using the test data
loss, accuracy = nn.evaluate(X_test_scaled, y_test)
print(f"Optimized model accuracy: {accuracy*100:.2f}%")

268/268  1s 4ms/step - accuracy: 0.7299 - loss: 0.5617
Optimized model accuracy: 72.33%

In [93]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")
print("Model exported to trained_model.h5 successfully.")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

Model exported to trained_model.h5 successfully.